@import url(https://fonts.googleapis.com/css?family=Wire+One);
@import url(https://fonts.googleapis.com/css?family=Sacramento);
* {
  box-sizing: border-box;
}

body { 
color: #ffffff; 
font-family: 'Wire One', sans-serif; 
font-size: 26px; 
font-weight: 500; 
margin: 0 0 2px; 
background-color: rgb(19,23,26);
}

/*html { 
  background: url('/css/collagepics.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}*/ 

div {
  text-align:center; 
}

ul li {
  display: inline;
  text-align: center;
}

a {
  position: relative;
  display: inline-block;
  border: none;
  width: 75px;
padding: .75rem 0;
  margin: 0;
  text-align: center;
  text-decoration: none;
  color: rgb(250,250,250);
}

a:after {
  content: "";
  display: inline-block;
  position: absolute;
  left: 12px;
  bottom: 0px;
  background-color: rgb(255,86,117);
  width: 0%;
  height: 1px;
  transition: 0.2s
}

a:hover:after { 
  width: 75%;
}

hr {
  border: none;
}
.homePage
{
  margin: 1 0 0px;
  padding: 1.5rem 0;
}
.AboutTitle, .BlogTitle, .FoodTitle, .ProjectsTitle
{
  margin: 0 0 0px; 
  padding: 2.0rem 0;
}
.homePage, .AboutTitle, .BlogTitle, .ProjectsTitle
{
  font-family: "Sacramento", cursive;
  font-size: 75px;
  font-weight: 100;
}
.FoodTitle
{
  font-family: "Sacramento", cursive;
  font-size: 50px;
  font-weight: 100;
}
.ChildPic
{
  margin: 1 0 0px;
  padding: 2rem 0;
}
ul.NavigationBar {
  float: center;
  margin: 0.5 0 0px;
  padding: 0.5rem 0;
  font-size: 20px;
}

.OnAbout, .OnBlog, .OnFood, .OnProjects
{
  color: rgb(255,86,117);
}

.AboutImage {
  background: 
    linear-gradient(
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.6)
    ),
    url("/AboutImage.jpg");
  background-size: cover;
  width: 500px;
  height: 650px;
  margin: 10px 0 0 10px;
  position: relative;
}
.AboutText
{
	font-family: 'Wire One', sans-serif;
	color: black;
	font-size: 24px;
	font-weight: 500px;
}
