* {
  box-sizing: border-box;
}

body { 
color: rgb(255,86,117); 
font-family: 'Lato', sans-serif; 
font-size: 16px; 
font-weight: 500; 
line-height: 0px; 
margin: 0 0 2px; 
background-image: url('/css/collagepics.jpg'); 
}
.container {
  width: 50%;
  margin: 0 auto;
}

div {
  text-align:center; 
}

ul li {
  display: inline;
  text-align: center;
}

a {
  position: relative;
  display: inline-block;
  border: none;
  width: 100px;
  padding: .75rem 0;
  margin: 0;
  text-align: center;
  text-decoration: none;
  color: rgb(0,0,0);
}

a:after {
  content: "";
  display: inline-block;
  position: absolute;
  left: 0px;
  bottom: -1px;
  background-color: rgb(255,86,117);
  width: 0%;
  height: 4px;
  transition: 0.3s
}

a:hover:after { 
  width: 100%;
}


hr {
  height: .5rem;
  width: 0%;
  background:  rgb(255,86,117);
  border: none;
  transition: .3s;
}
