@import url(https://fonts.googleapis.com/css?family=Wire+One);
@import url(https://fonts.googleapis.com/css?family=Sacramento);
* {
  box-sizing: border-box;
}

body { 
color: #ffffff; 
font-family: 'Wire One', sans-serif; 
font-size: 26px; 
font-weight: 500; 
line-height: 0px; 
margin: 0 0 2px; 
background-color: rgb(19,23,26);
}

/*html { 
  background: url('/css/collagepics.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}*/ 

div {
  text-align:center; 
}

ul li {
  display: inline;
  text-align: center;
}

a {
  position: relative;
  display: inline-block;
  border: none;
  width: 75px;
  padding: .75rem 0;
  margin: 0;
  text-align: center;
  text-decoration: none;
  color: rgb(250,250,250);
}

a:after {
  content: "";
  display: inline-block;
  position: absolute;
  left: 12px;
  bottom: 0px;
  background-color: rgb(255,86,117);
  width: 0%;
  height: 1px;
  transition: 0.2s
}

a:hover:after { 
  width: 75%;
}

hr {
  border: none;
}
.homePage 
{
  font-family: "Sacramento", cursive;
  font-size: 80px;
  font-weight: 100;
  margin: 5 0 0px; 
  padding: 1.5rem 0;
}

ul.NavigationBar {
  float: center;
  margin: 1 0 0px;
  padding: 1.5rem 0;
  font-size: 25px;
}

.AboutTitle
{
  font-family: "Sacramento", cursive;
  font-size: 100px;
  font-weight: 100;
  margin: 0.5 0 0px; 
  float: center;
}

.OnAbout
{
  color: rgb(255,86,117);
}
